@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom tweaks */
html { scroll-behavior: smooth; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
